<h1><%= band.name %></h1>

<p><%= band.genre %></p>
<p><%= band.yearsActive %></p>
<p><%= band.genre %></p>
<p><%= band.rating %></p>
<p><%= band.members %></p>
<p><%= band.image %></p>

<a href="/<%= band.id %>/edit">edit</a>

<form action="/<%= band.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form> 
